# Python
__pycache__/
*.pyc

# Virtual env
.venv/

# Environment variables
.env

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Logs
logs/

# OS
.DS_Store
Thumbs.db
chatbot.db
mcp-openweatherGoogle-Drive-Agent/google-drive-mcp/gcp-oauth.keys.example.json 
